<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="SocialEngineDB"
         providerName="MySql.Data.MySqlClient"
         connectionString="server='localhost';user id=socialengineuser;password=socialengineuserpw;database=socialengine; Convert Zero Datetime=true;" />
  </connectionStrings>
</configuration>